.desc {
  background-image: url('../img/main-mobile.png');
  background-size: 100% 100%;
  background-position: center 0;
  background-repeat: no-repeat;

  .container {
    padding-top: 136px;
    min-height: 480px;
    padding-left: 2.4%;
    padding-right: 2.4%;
  }

  & * {
    color: white;
  }
}

.desc__first {
  color: $orange;
}

.desc__header {
  margin-bottom: 43px;

  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: center;
}

.desc__text {
  margin-bottom: 67px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.desc__registration {
  display: block;
  width: 304px;
  margin: 0 auto;
  padding: 11px 74px 14px 73px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  background-color: $orange;
  border-radius: 4px;

  &:hover {
    background-color: transparent;

    border: 2px solid $orange;
    padding: 9px 72px 12px 71px;
  }

  &:active {
    opacity: 0.5;
  }
}

.desc__scroll {
  display: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media ($tablet) {
  .desc {
    background-image: url('../img/main-tablet.png');

    .container {
      position: relative;

      min-height: 768px;
      padding-top: 208px;
    }
  }

  .desc__header {
    margin-left: auto;
    margin-bottom: 36px;
    width: 531px;

    font-size: 36px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.72px;

    text-align: left;
  }

  .desc__text {
    margin-left: auto;
    width: 424px;
    padding-right: 30px;
    margin-bottom: 40px;
    
    font-size: 14px;
    line-height: 1.29;

    text-align: left;
  }

  .desc__registration {
    margin-right: 118px;
    width: 305px;
    margin-left: auto;
  }

  .desc__scroll {
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translate(-12px);

    width: 24px;
    height: 39px;
    display: block;
    font-size: 0;

    &::before {
      content: '';
      position: absolute;

      left: 0;
      top: 0;
      
      width: 24px;
      height: 39px;
      background-image: url('../img/scroll.png');
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

@media ($desktop) {
  .desc {
    background-image: url('../img/main.png');

    .container {
      min-height: 880px;
      padding-top: 204px;
    }
  }

  .desc__header {
    width: 677px;
    margin-bottom: 40px;

    font-size: 42px;
    line-height: 1.14;
    letter-spacing: 1.26px;
  }

  .desc__text {
    position: relative;

    width: 460px;
    padding-right: 50px;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 1.25;

    &::before {
      content: '';
      position: absolute;
      left: -196px;
      top: -10px;

      width: 179px;
      height: 65px;

      background-image: url('../img/stars.png');
    }
  }

  .desc__registration {
    margin-right: 153px;
  }

  .desc__scroll {
    bottom: 83px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.48px;

    span {
      position: absolute;
      left: -55px;
      top: 53px;

      width: 135px;
    }
  }
}